{% extends 'admin/admin.html' %}
{% block content %}
<form method="get" class="form-inline " style="float:right;">
    <div class="md-form my-0">
        {{alotroomFilter.form}}
        <button class="btn btn-primary mr-2" type="submit">Search</button>
    </div>
</form>
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
<!--                    <h4 class="card-title">Basic Table</h4>-->
<!--                    <p class="card-description"> Add class <code>.table</code>-->
<!--                    </p>-->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Reg. No.</th><th>Room No.</th><th>Roommates</th><th>Images</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in retrieve %}
                            <tr>
                                <td>{{i.stu}}</td><td>{{i.roomno}}</td><td>{{i.roommates}}</td><td><img class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" src="{{i.img.url}}"></td>
<!--                                <td>-->
<!--                                    <form action="{% url 'Deletefood' i.id %}" method="POST">-->
<!--                                        {% csrf_token %}-->
<!--                                        <button type="submit" class="btn btn-danger">Delete</button>-->
<!--                                    </form>-->
<!--            </td>-->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                  </div>
                </div>
            </div>


{% endblock %}