{% extends 'admin/admin.html' %}
{% block content %}

<div class="col-lg-20 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <u><h2  style="text-align:center" class="card-title">Parent Details</h2></u>
        <form method="POST">
          <table border="2px" cellpadding="10px" width="1100px">
            <theader>
              <tr>
                <th class="mb-2 text-dark font-weight-bold">Name</th>
                <th class="mb-2 text-dark font-weight-bold">Relation To The Student</th>
                <th class="mb-2 text-dark font-weight-bold">Student Reg. No.</th>
                <th class="mb-2 text-dark font-weight-bold">Email</th>
                <th class="mb-2 text-dark font-weight-bold">Ph. Number</th>
              </tr>
            </theader><br><br>
            <tbody>
              {% for i in pob %}
              <tr>
                <td class="mb-2 text-dark font-weight-normal">{{i.name}}</td>
                <td class="mb-2 text-dark font-weight-normal">{{i.status}}</td>
                <td class="mb-2 text-dark font-weight-normal">{{i.student}}</td>
                <td class="mb-2 text-dark font-weight-normal">{{i.email}}</td>
                <td class="mb-2 text-dark font-weight-normal">{{i.ph}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
    </div>
  </div>
</div>

{% endblock%}