{% extends 'admin/admin.html' %}
{% block content %}

<form method="get" class="form-inline " style="float:right;">
        <div class="md-form my-0">
          {{StudentFilter.form}}
          <button class="btn btn-primary mr-2" type="submit">Search</button>
        </div>
</form>

<div class="col-lg-20 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <u><h2  style="text-align:center" class="card-title">Student Details</h2></u>
          <table border="2px" cellpadding="10px" width="1100px">
            <theader>
              <tr>
                <th class="mb-2 text-dark font-weight-bold">Reg. No.</th>
                <th class="mb-2 text-dark font-weight-bold">Name</th>
                <th class="mb-2 text-dark font-weight-bold">Email</th>
                <th class="mb-2 text-dark font-weight-bold">Ph. Number</th>
                <th class="mb-2 text-dark font-weight-bold">Category</th>
                <th class="mb-2 text-dark font-weight-bold">Delete</th>
              </tr>
            </theader><br><br>
            <tbody>
              {% for i in sob %}
              <tr>
                <td class="mb-2 text-dark font-weight-normal">{{i.reg}}</td>
                <td class="mb-2 text-dark font-weight-normal">{{i.name}}</td>
                <td class="mb-2 text-dark font-weight-normal">{{i.email}}</td>
                <td class="mb-2 text-dark font-weight-normal">{{i.ph}}</td>
                <td class="mb-2 text-dark font-weight-normal">{{i.category}}</td>
                <td>
                  <form action="{% url 'Delete_Student' i.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
  </div>
</div>

{% endblock%}